<div class="card card-default">
            <div class="card-header" style="font-size: 130%; color:#23b7e5;"><b>VIEW / LIST</b>
              <button class="btn btn-primary" style="float: right;" (click)="back()">Back</button></div>
            <div class="card-header" style="font-size: 150%;"><b>{{clien_name}}</b></div>
             <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>BILL NO</th>
                        <th>AWB / INV</th>  
                        <th>PIECES</th>
                        <th>WEIGHT</th>
                        <th>FREIGHT</th>
                        <th>FSC</th>
                        <th>SGST (9%)</th>
                        <th>CGST (9%)</th>
                        <th>IGST</th>
                        <th>TOTAL AMT</th>
                        <th>ACTION</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor= "let list3 of data3">
                     	<td>{{list3.hawb_billingInvoice_no}}</td>
                        <td>{{list3.invoice_no}}</td>
                        <td>{{list3.total_carton}}</td>
                        <td>{{list3.total_weight}}</td>
                        <td>{{list3.freight_charge}}</td>
                        <td>{{list3.FSC_charge}}</td>
                        <td>{{list3.SGST}}</td>
                        <td>{{list3.CGST}}</td>
                        <td>{{list3.IGST}}</td>
                        <td>{{list3.net_amount}}</td>
                        <td>
                          <button class="btn btn-primary" (click)="edit()"></button>
                        <button class="btn btn-danger" type="submit" (click)="delete(list3.billinginvoice_details_id)">Delete</button>
                     </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            </div>
            <div class="card card-default">
            <div class="card-header" style="font-size: 130%; color:#23b7e5;"><b>DETAILS / PRINT</b></div>
            <div class="row">
            <div class="col-sm-6">
      		<div style="padding-left: 5%">
      			<div class="form-group">
            <div class="row">
            <div class="col-sm-6">TOTAL FREIGHT CHARGES</div>
             <div class="col-sm-6">{{tot_f_charge}}</div>
         </div> 
     	</div>
     	<div class="form-group">
         <div class="row">
              <div class="col-sm-6">FUEL SUR CHARGE</div>
              <div class="col-sm-6">{{fuel_s_charge}}</div>
          </div>
      </div>
      <div class="form-group">
           <div class="row">
              <div class="col-sm-6">CGST @ 9%</div>
              <div class="col-sm-6">{{c_g_s_t}}</div>
          </div>
      </div>
      <div class="form-group">
            <div class="row">
              <div class="col-sm-6">SGST @ 9%</div>
              <div class="col-sm-6">{{s_g_s_t}}</div>
          </div>
      </div>
      <div class="form-group">
            <div class="row">
              <div class="col-sm-6">IGST @ 18%</div>
              <div class="col-sm-6">{{i_g_s_t}}</div>
          </div>
      </div>
      <div class="form-group">
            <div class="row">
              <div class="col-sm-6">TOTAL AMOUNT</div>
              <div class="col-sm-6">{{tot_net_amount}}</div>
          </div>
      </div>
          </div>
      </div>

          <div class="col-sm-6">
          	<div class="row">
          <div class="col-sm-6">
          	<div class="form-group"></div>
		<label class="control-label">INVOICE NUMBER TO ADD</label>
		<input type="text" name="" class="form-control" [(ngModel)]="invoice_no">
		<button class=" btn btn-primary" (click)="addto()">ADD to INV</button>
          </div>
      </div><br>
      <button class=" btn btn-primary" (click)="classicModal2.show()" (click)="print_pdf(data3)">PRINT</button>
      </div>
</div>
    </div>
     <div class="modal fade" bsModal #classicModal2="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myBigModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Print Preferences</h4>
                                <button type="button" class="close" aria-label="Close" (click)="classicModal2.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                  <div class="form-row">
                                    <div  class="col-lg-6 mb-6">
                                    <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="r_logo" value="true"  />
                                    <span class="fa fa-check"></span>Remove Logo</label>
                                </div></div>
                                <div  class="col-lg-6 mb-6">
                                    <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="r_address" value="true" />
                                    <span class="fa fa-check"></span>Remove Address</label>
                                </div></div>
                                </div>
                                <br>
                                 <div style="padding-left: 65%">
                                  <button class="btn btn-primary mr-2" type="submit" (click)="print()">Print</button>
                                <button class="btn btn-danger" type="submit" (click)="classicModal2.hide()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
