<!-- <div class="row content-heading">

    <div class="col-xl-4">
            <div>Bill Generation
       </div>
    </div>
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
    </div>
</div> -->
      <div class="card card-default">
        <div class="card-header">
          AIR FREIGHT BILL GENERATION
        </div>
      <div class="card-body">

	<div class="row">
	 <div class="col-md-3 mb-2">
           	 <label for="validationServer01">Branch Name</label>
                   <select class="form-control " [(ngModel)]="branch" name="sel"
                   (change)="customer_list()">
                       <option value="" disabled selected hidden="">Select-Branch Name</option>
						<option value="{{branchList.origin_id}}"   *ngFor= "let branchList of branchlist">{{branchList.origin_name}}</option>
                    </select>
                                    
      </div>
      <div class="col-md-3 mb-3">
           	 <label for="validationServer01">Customer</label>
                   <select class="form-control " [(ngModel)]="customer" name="sel"
                  >
                       <option value="" disabled selected hidden="">Select-Customer</option>
						<option value="{{customerlist.origin_client_id}}"  *ngFor= "let customerlist of customerlist">{{customerlist.client_name}}</option>
                    </select>
                                    
      </div>
      <!-- <div class="col-md-2 mb-2">
           	 <label for="validationServer01">Payment Mode</label>
                   <select class="form-control " [(ngModel)]="payment" name="sel">
                       <option value="" disabled selected hidden="">Select-Payment Mode</option>
						<option value="{{paymentlist.payment_mode}}"   *ngFor= "let paymentlist of paymentlist">{{paymentlist.payment_mode}}</option>
                    </select>
                                    
      </div> -->
      <div class="col-md-3 mb-2">
           <label for="validationServer02">From Date</label>
                <input class="form-control " name="ex" type="date" value="{{from_date}}" [(ngModel)]="from_date" required="" />
       </div>
       <div class="col-md-3 mb-2">
           <label for="validationServer02">To Date</label>
                <input class="form-control " name="ex" type="date" [(ngModel)]="to_date" required="" />
       </div>
     </div>
     <div class="row">
     	<div class="col-md-1 mb-3">
     	 <button class="btn btn-success" (click)=submit() style="text-align: center;" type="submit">Search</button>
     	</div>
     	<div class="col-md-4 mb-3">
     	  <button class="btn btn-danger" (click)=reset() style="text-align: center;" type="submit">Reset</button>
     	</div>
     	<!-- <div class="col-md-1 mb-3">
     	</div>
     	<div class="col-md-3 mb-2">
           <label >Invoice Date</label>
                <input class="form-control"  type="date" [(ngModel)]="invoice_date"/>
       </div>
       <div class="col-md-3 mb-3">
     	</div> -->
     	</div>
     </div>
   </div>
    <div class="row">
    	<div class="col-md-5">
       <div class="card card-default">
        <div class="row">
      <div class="col-md-7">
            <div class="card-header" style="font-size: 130%; color:#23b7e5;">UN-BILLED HAWB NO'S
            </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <input type='text' class="form-control" placeholder='Enter HAWB number' (keyup)='updateFilter($event)' />
            </div>
          </div>
        <div class="card-body">
           <div style=" height:400px;width: 100%; overflow:auto;">
                 <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover" style="overflow: scroll;">
                  <thead>
                     <tr>
                        <th>Action</th>
                        <th>HAWB No</th>
                        <th>PCS - WT</th>
                        <th>FREIGHT</th>
                        <th>TOTAL AMT</th>
                     </tr>
                  </thead>
                  <tbody>
                  	<div class="row" *ngIf="btn3" >
            <div class="col-lg-4 mb-3"></div>
            <div class="col-lg-3 mb-3">
            <div style="margin-top: 10px;" class="card-body loader-demo loader-demo-sk d-flex align-items-center justify-content-center">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
          </div>
        </div>
                  
                     <tr *ngFor= " let reports of rowsFilter">
                     	<td>
                     		<button class="btn btn-info" (click)=edit(reports)>Edit</button>
                     	</td>
                        <td>{{reports.invoice_no}}</td>
                        <td>{{reports.total_carton}} - {{reports.total_weight}}</td>
                        <td>{{reports.freight_charge}}</td>
                        <td>{{reports.net_amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
          </div>
        </div>
        </div>
    </div>
    <div class="col-md-7">
    	<div class="card card-default">
    	<!-- <div class="card-header"style="font-size: 150%; color:#23b7e5;">
         AIR FREIGHT
        </div> -->
        <div class="card-header"style="font-size: 200%; text-align: center;">
         HAWB NO - {{invoice_no}}
        </div>
        <div style=" height:400px; overflow:auto;">
                 <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover" style="overflow: scroll;">
                  <thead>
                     <tr>
                      <th checkAll>
                            <label>
                                <input type="checkbox" [(ngModel)]="isChecked" (change)="checkall(isChecked)" />
                            </label>
                      </th>
                        <th>Charges Name</th>
                        <th>Taxable</th>
                        <th>Non Taxable</th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor= " let reports of report; let i=index">
                        <td>
                          <input type="checkbox" [(ngModel)]="report[i].isChecked" />
                        </td>
                        <td>
                        	<input type="text" name="" [(ngModel)]="report[i].charge_name" value="{{reports.charge_name}}">
                        </td>
                        <td>
                          <input type="checkbox" [(ngModel)]="report[i].tax" value="Y" />
                        </td>
                        <td>
                          <input type="checkbox" [(ngModel)]="report[i].non_tax" />
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="report[i].amount"/>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
          </div>
               <button class="btn btn-danger"(click)="save()">Save</button>
    	</div>
    </div>
</div>
