<div class="row content-heading">

    <div class="col-xl-4">
            <div>Bill Generation
       </div>
    </div>
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
    </div>
</div>
      <div class="card card-default">
        <div class="card-header">
          SEARCH / FILTER
        </div>
      <div class="card-body">

	<div class="row">
	 <div class="col-md-2 mb-2">
           	 <label for="validationServer01">Branch Name</label>
                   <select class="form-control " [(ngModel)]="branch" name="sel"
                   (change)="customer_list()">
                       <option value="" disabled selected hidden="">Select-Branch Name</option>
						<option value="{{branchList.origin_id}}"   *ngFor= "let branchList of branchlist">{{branchList.origin_name}}</option>
                    </select>
                                    
      </div>
      <div class="col-md-2 mb-3">
           	 <label for="validationServer01">Customer</label>
                   <select class="form-control " [(ngModel)]="customer" name="sel"
                  >
                       <option value="" disabled selected hidden="">Select-Customer</option>
						<option value="{{customerlist.origin_client_id}}"  *ngFor= "let customerlist of customerlist">{{customerlist.client_name}}</option>
                    </select>
                                    
      </div>
      <div class="col-md-2 mb-2">
           	 <label for="validationServer01">Payment Mode</label>
                   <select class="form-control " [(ngModel)]="payment" name="sel">
                       <option value="" disabled selected hidden="">Select-Payment Mode</option>
						<option value="{{paymentlist.payment_mode}}"   *ngFor= "let paymentlist of paymentlist">{{paymentlist.payment_mode}}</option>
                    </select>
                                    
      </div>
      <div class="col-md-3 mb-2">
           <label for="validationServer02">From Date</label>
                <input class="form-control " name="ex" type="date" value="{{from_date}}" [(ngModel)]="from_date" required="" />
       </div>
       <div class="col-md-3 mb-2">
           <label for="validationServer02">To Date</label>
                <input class="form-control " name="ex" type="date" [(ngModel)]="to_date" required="" />
       </div>
     </div>
     <div class="row">
     	<div class="col-md-1 mb-3">
     	 <button class="btn btn-success" (click)=submit() style="text-align: center;" type="submit">Search</button>
     	</div>
     	<div class="col-md-4 mb-3">
     	  <button class="btn btn-danger" (click)=reset() style="text-align: center;" type="submit">Reset</button>
     	</div>
     	<div class="col-md-1 mb-3">
     	</div>
     	<div class="col-md-3 mb-2">
           <label >Invoice Date</label>
                <input class="form-control"  type="date" [(ngModel)]="invoice_date"/>
       </div>
       <div class="col-md-3 mb-3">
     	</div>
     	</div>
     </div>
   </div>
       <div class="card card-default">
        <div class="row">
      <div class="col-md-7">
            <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>VIEW / LIST</b>
            </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <input type='text' class="form-control" placeholder='Enter HAWB number' (keyup)='updateFilter($event)' />
            </div>
          </div>
        <div class="card-body">
           <div style=" height:400px; overflow:auto;">
                 <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover" style="overflow: scroll;">
                  <thead>
                     <tr>
                      <th checkAll>
                            <label>
                                <input type="checkbox" [(ngModel)]="isChecked" (change)="checkall(isChecked)" />
                            </label>
                      </th>
                        <th>S.No</th>
                        <th>AWB / INV</th>
                        <th>PCS - WT</th>
                        <th>FREIGHT</th>
                        <th>FSC</th>
                        <th>ORIGIN</th>
                        <th>SGST (9%)</th>
                        <th>CGST (9%)</th>
                        <th>IGST (18%)</th>
                        <th>TOTAL AMT</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="btn3">
                      <td style="background-color: #fff;border-style: none;"></td>
                      <td style="background-color: #fff;border-style: none;"></td>
                      <td style="background-color: #fff;border-style: none;"></td>
                      <td style="background-color: #fff;border-style: none;"></td>
                      <td style="background-color: #fff;border-style: none;">
                    <div class="row" *ngIf="btn3" >
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                      <div class="card-body loader-demo d-flex align-items-center justify-content-center">
                <div class="ball-spin-fade-loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                </td>
                </tr>
                     <tr *ngFor= " let reports of rowsFilter ; let i=index">
                        <td>
                          <input type="checkbox" [(ngModel)]="report[i].isChecked" />
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{reports.invoice_no}}</td>
                        <td>{{reports.total_carton}} - {{reports.total_weight}}</td>
                        <td>{{reports.freight_charge}}</td>
                        <td>{{reports.FSC_charge}}</td>
                        <td>{{reports.extra_bill_amount}}</td>
                        <td>{{reports.SGST}}</td>
                        <td>{{reports.CGST}}</td>
                        <td>{{reports.IGST}}</td>
                        <td>{{reports.net_amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
          </div>
        </div>
        </div>

<div class="card card-default">
        
          <div class="card-header">
         DETAILS / PRINT
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 mb-2">
          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">TOTAL FREIGHT CHARGES</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{tot_f_charge}}</label>
         </div>
        </div>
      
          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">FUEL SUR CHARGE</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{fuel_s_charge}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">EXTRA CHARGE</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{extra_amt}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">CGST @ 9%</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{c_g_s_t}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">SGST @ 9%</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{s_g_s_t}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">IGST @ 18%</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{i_g_s_t}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">TOTAL AMOUNT</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{tot_net_amount}}</label>
         </div>
        </div>
      </div>
         <div class="col-md-1.5 mb-2">
           <button class="btn btn-primary" (click)="generate_bill()" style="text-align: center;" type="submit">Generate Bill</button>
         </div>
         <div class="col-md-1 mb-2">
           <button class="btn btn-primary" (click)=print() style="text-align: center;" type="submit">Print</button>
         </div>

    </div>
  </div>
</div>
