<div class="row content-heading">
  <div class="col-xl-4">
    <div>Bill Generation</div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header" style="font-size: 150%; color:#23b7e5;">ORIGIN</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="validationServer01">ORIGIN</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
    					<option value="{{List.origin_id}}"   *ngFor= "let List of branchlist">{{List.origin_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">AWB DATE</label>
            <input type="date" name="" class="form-control">                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">AWB NO</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">PAYMENT BY</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of paymentlist">{{List.payment_mode}}</option>
            </select>                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">SERVICE TYPE</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of serviceList">{{List.transit_type_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">SHIPMENT TYPE</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of shipmentList">{{List.document_type}}</option>
            </select>                                  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header" style="font-size: 150%; color:#23b7e5;">DESTINATION</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="validationServer01">DESTINATION</label>
            <select class="form-control " [(ngModel)]="branch" name="sel" (change)="customer_list()">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of destinationList">{{List.wh_storage_location_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-12 mb-2">
            <label for="validationServer01">BILL ACC NO</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of customerList">{{List.client_name}}</option>
            </select>                                  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header" style="font-size: 150%; color:#23b7e5;">SHIPPER</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="validationServer01">COMPANY ACC NO</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of customerList">{{List.client_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-12 mb-2">
            <label for="validationServer01">COMPANY NAME</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-12 mb-2">
            <label for="validationServer01">ADDRESS</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">CITY</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">STATE</label>
            <select class="form-control " [(ngModel)]="branch" name="sel" (change)="customer_list()">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{branchList.origin_id}}"   *ngFor= "let branchList of branchlist">{{branchList.origin_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">PIN</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">CONTACT PERSON</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">PHONE CODE</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">PHONE NUMBER</label>
            <input type="text" name="" class="form-control">                                  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header" style="font-size: 150%; color:#23b7e5;">CONSIGNEE</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="validationServer01">ACCOUNT NO</label>
            <select class="form-control " [(ngModel)]="branch" name="sel" >
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{List.origin_id}}"   *ngFor= "let List of customerList">{{List.client_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-12 mb-2">
            <label for="validationServer01">CONSIGNEE NAME</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-12 mb-2">
            <label for="validationServer01">ADDRESS</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">CITY</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">STATE</label>
            <select class="form-control " [(ngModel)]="branch" name="sel">
              <option value="" disabled selected hidden="">Select-Branch Name</option>
              <option value="{{branchList.origin_id}}"   *ngFor= "let branchList of branchlist">{{branchList.origin_name}}</option>
            </select>                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">PIN</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">CONTACT PERSON</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">PHONE CODE</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">PHONE NUMBER</label>
            <input type="text" name="" class="form-control">                                  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header" style="font-size: 150%; color:#23b7e5;">CARTON / ITEM</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-2">
            <label for="validationServer01">LENGTH</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-8 mb-2">
            <label for="validationServer01">ITEM DESCRIPTION</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <div class="row">
              <div class="col-md-12">
                <label for="validationServer01">WIDTH</label>
                <input type="text" name="" class="form-control">
              </div>
              <div class="col-md-12">
                <label for="validationServer01">HEIGHT</label>
                <input type="text" name="" class="form-control">
              </div>
            </div>                                  
          </div>
          <div class="col-md-8 mb-2">
            <table class="table">
              <tr>
                <th>LENGTH</th>
                <th>HEIGHT</th>
                <th>WIDTH</th>
                <th>PCS</th>
                <th>VW</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">HEIGHT</label>
            <input type="text" name="" class="form-control">
          </div>
          <div class="col-md-8 mb-2">
            <label for="validationServer01">HEIGHT</label>
            <input type="text" name="" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header" style="font-size: 150%; color:#23b7e5;">COST / PRICE</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="validationServer01">TOTAL PCS</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">TOTAL WEIGHT</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">FREIGHT</label>
            <input type="text" name="" class="form-control">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">FSC</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">GOODS</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">SGST</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">CGST</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-4 mb-2">
            <label for="validationServer01">IGST</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">NET AMOUNT</label>
            <input type="text" class="form-control" name="">                                  
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">REMARK</label>
            <input type="text" class="form-control" name="">                                  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-info"> AWB SAVE</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-info"> AWB CLEAR</button>
  </div>
</div>