<br>
<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center">
                <a href="#">
                    <img class="block-center rounded" src="assets/img/logo.png" alt="Image" height="90px" width="150px" />
                </a>
                <h4>Register</h4>
            </div>
            <div class="card-body">
                <!-- <p class="text-center py-2">REGISTER</p> -->
                <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="registerForm" novalidate="" (submit)="submitForm($event, valForm.value)">

                <!-- <div class="row">
                    <div class="col-md-6"> -->
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="text" name="name" placeholder="Enter Name" autocomplete="off" formControlName="name" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-user"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</div>
                    <!-- </div> -->
                    </div>

                    <!-- <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="gender" autocomplete="off" formControlName="gender" value="male" />
                                    <span class="fa fa-circle"></span>MALE
                                </label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="gender" autocomplete="off" formControlName="gender" value="female" />
                                    <span class="fa fa-circle"></span>FEMALE
                                </label>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['gender'].hasError('required') && (valForm.controls['gender'].dirty || valForm.controls['gender'].touched)">This field is required</div>
                    </div>
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-md-6"> -->
                    <!-- <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="email" name="account_email" placeholder="Enter email" autocomplete="off" formControlName="email" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</div>
                        <div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field must be a valid email address</div>
                    </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-md-12"> -->
                    
                    <!-- </div> -->

                <!-- <div class="row">
                    <div class="col-md-6"> -->
                    
                    <!-- </div>

                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="textarea" name="address" placeholder="Enter Address" autocomplete="off" formControlName="address" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-home"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['address'].hasError('required') && (valForm.controls['address'].dirty || valForm.controls['address'].touched)">This field is required</div>
                    </div>
                    </div>
                </div>
 -->
                <!-- <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <select class="custom-select custom-select-sm" formControlName="state" name="state" [ngModel]="state">
                                <option value="" disabled selected hidden="">Select State</option>
                                <option *ngFor= "let list of stateList" value="{{list.delivery_state_id}}">{{list.delivery_state_name}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['state'].hasError('required') && (valForm.controls['state'].dirty || valForm.controls['state'].touched)">This field is required</div>
                    </div>
                    </div>

                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <select class="custom-select custom-select-sm" formControlName="city"
                             name="city" [ngModel]="city">
                                <option value="" disabled selected hidden="">Select Branch</option>
                                <option  *ngFor= "let list of branchList" value="{{list.origin_id}}">{{list.origin_name}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['city'].hasError('required') && (valForm.controls['city'].dirty || valForm.controls['city'].touched)">This field is required</div>
                    </div>
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <select class="custom-select custom-select-sm" [ngModel]="insti" formControlName="institude" name="institude">
                                <option value="" disabled selected hidden="">Select Institude</option>
                                <option  *ngFor= "let list of institudeList" value="{{list.point_id}}">{{list.point_name}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['institude'].hasError('required') && (valForm.controls['institude'].dirty || valForm.controls['institude'].touched)">This field is required</div>
                    </div>
                    </div>
                    <div class="col-md-6"> -->
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="number" name="pin" placeholder="Enter PIN Code" autocomplete="off" formControlName="pin" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-map-pin"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['pin'].hasError('required') && (valForm.controls['pin'].dirty || valForm.controls['pin'].touched)">This field is required</div>
                    </div>
                    <!-- </div>
                </div>
 -->
                <!-- <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <select class="custom-select custom-select-sm" formControlName="board" name="board" [ngModel]="Board">
                                <option value="" disabled selected hidden="">Select Board</option>
                                <option *ngFor= "let list of boardList" value="{{list.board_or_university_id}}">{{list.board_name}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['board'].hasError('required') && (valForm.controls['board'].dirty || valForm.controls['board'].touched)">This field is required</div>
                    </div>
                    </div>

                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <select class="custom-select custom-select-sm" formControlName="medium"
                             name="medium" [ngModel]="Medium">
                                <option value="" disabled selected hidden="">Select Medium</option>
                                <option  *ngFor= "let list of mediumList" value="{{list.medium_of_education_id}}">{{list.medium_of_education_name}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['medium'].hasError('required') && (valForm.controls['medium'].dirty || valForm.controls['medium'].touched)">This field is required</div>
                    </div>
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="text" name="user" placeholder="Enter user name" autocomplete="off" formControlName="user" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-user"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['user'].hasError('required') && (valForm.controls['user'].dirty || valForm.controls['user'].touched)">This field is required</div>
                    </div>
                    </div> -->

                    <!-- <div class="col-md-6"> -->
                    <div formGroupName="passwordGroup">
                        <div class="form-group">
                            <!-- <label class="text-muted mb-1">Password</label> -->
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" id="id-password" type="password" name="password" placeholder="Enter Password" formControlName="password" [formControl]="valForm.get('passwordGroup.password')" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('required') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">This field is required</div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('pattern') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">Input should match 'a-zA-Z0-9' and 6-10 length</div>
                        </div>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->

               <!--  <div class="row">
                        <div class="col-md-6"> -->
                        <div class="form-group">
                            <!-- <label class="text-muted mb-1">Confrim Password</label> -->
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" type="password" name="confirmPassword" placeholder="Enter Confrim Password" [formControl]="valForm.get('passwordGroup.confirmPassword')" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('required') && (valForm.get('passwordGroup.confirmPassword').dirty || valForm.get('passwordGroup.confirmPassword').touched)">This field is required</div>
                            <div class="text-danger" *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('equalTo')">Password does Not match</div>
                        </div>

                        <div class="form-group">
                        <!-- <label class="text-muted mb-1">Email address</label> -->
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="number" name="Contact_NO" placeholder="Enter Mobile Number" autocomplete="off" formControlName="number" required="" [(ngModel)]="send_otp.mobile_number" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-mobile"></em>
                                </span>
                                <span class="btn btn-primary" type="" (click)="sendOTP()">Send OTP</span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['number'].hasError('required') && (valForm.controls['number'].dirty || valForm.controls['number'].touched)">This field is required</div>
                    </div>

                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="number" name="altnumber" placeholder="Enter OTP" autocomplete="off" formControlName="altnumber" required="" [(ngModel)]="verify_otp.otp_num" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-mobile"></em>
                                </span>
                                <span class="btn btn-primary" (click)="verify()">Verify</span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['altnumber'].hasError('required') && (valForm.controls['altnumber'].dirty || valForm.controls['altnumber'].touched)">This field is required</div>
                    </div>
                       <!--  </div>
                    </div> -->
                    <!-- <div class="clearfix">
                        <div class="checkbox c-checkbox float-left mt0">
                            <label>
                                <input type="checkbox" required="" name="account_agreed" formControlName="accountagreed" />
                                <span class="fa fa-check"></span>I agree with the
                                <a href="#">terms</a>
                            </label>
                        </div>
                    </div> -->
                    <!-- <span class="text-danger" *ngIf="valForm.controls['accountagreed'].hasError('required') && (valForm.controls['accountagreed'].dirty || valForm.controls['accountagreed'].touched)">You must agree the terms</span> -->
                    <button class="btn btn-block btn-primary mt-3" type="submit" >Create account</button>
                </form>
                <!-- <div class="alert alert-danger text-center"></div> -->
                <!-- <p class="pt-3 text-center">Have an account?</p> -->
                <a class="btn btn-block btn-secondary" [routerLink]="'/login'">Signin</a>
                <a class="btn btn-block btn-secondary" [routerLink]="'/main-home'">Return to home</a>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <!-- <span>E-Learning</span> -->
            <!-- <span>{{ settings.getAppSetting('year') }}</span>
            <span class="mx-2">-</span>
            <span>{{ settings.getAppSetting('name') }}</span>
            <br/>
            <span>{{ settings.getAppSetting('description') }}</span> -->
        </div>
    </div>
</div>
