<!-- 
<div class="card card-default">
        
           <div class="card-header">
         VIEW 
        </div>
        <div class="card-body">
        	<label >{{this.car}}</label>
        </div>
    </div>
<div>
    <div>
    	<h3 style="color: #636e72">MASTER</h3>
    	</div>
</div> -->

<!-- START row-->
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-body">
            	<h4>SELECT / FILTER</h4>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Branch Name</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="origin_id_by_customer" (change)="customerList(origin_id_by_customer)">
                            <option value="" disabled selected hidden="">Select-Type</option>
                            <option  *ngFor= "let listb of branchlist" value="{{listb.origin_id}}">
                            	{{listb.origin_name}}
                            </option>
                        </select>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Customer Name</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="customer_id" (change)="tariffList(customer_id)">
                            <option value=""  selected hidden="">Select-Customer Name</option>
                            <option *ngFor= "let list of customerlist" value="{{list.origin_client_id}}">
                            	{{list.client_name}}
                            </option>
                        </select>
	                    </div>
                	</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-default">
            <div class="card-body">
            		<h4>ADD/ UPDATE</h4>
                <div class="row">
                      <div class="col-6 form-group">
                          <label>Origin Country</label>
                          <select class="custom-select custom-select-sm" [(ngModel)]="rateList.origin_country" (change)="branchlist_by_country(rateList.origin_country)">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of Country_list" value="{{view.country_id}}">
                              {{view.country_name}}
                            </option>
                        </select>
                      </div>
                      <div class="col-6 form-group">
                          <label>Origin Branch</label>
                          <select class="custom-select custom-select-sm" [(ngModel)]="rateList.origin_branch">
                            <option value="" disabled selected hidden="">Select</option>
                            <option *ngFor="let view of brach_countryList" value="{{view.origin_id}}">
                              {{view.origin_name}}
                            </option>
                        </select>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6 form-group">
                          <label>Destination Country</label>
                          <select class="custom-select custom-select-sm" [(ngModel)]="rateList.destination_country">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of Country_list" value="{{view.country_id}}">
                              {{view.country_name}}
                            </option>
                        </select>
                      </div>
                      <div class="col-6 form-group">
                          <label>Destination Location</label>
                          <select class="custom-select custom-select-sm" [(ngModel)]="rateList.wh_storage_location_name">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of deliveryList" value="{{view.wh_storage_location_id}}">
                              {{view.wh_storage_location_name}}
                            </option>
                        </select>
                      </div>
                  </div>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Payment Mode</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="rateList.payment_mode">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of paymentList">
                            	{{view.payment_mode}}
                            </option>
                        </select>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Service Type</label>
                          <select class="custom-select custom-select-sm" [(ngModel)]="rateList.transit_type_name">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of serviceList"
                            value="{{view.transit_type_id}}">
                              {{view.transit_type_name}}
                            </option>
                        </select>
	                    </div>
                	</div>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Shipment Type</label>
                          <select class="custom-select custom-select-sm" [(ngModel)]="rateList.shipment_type">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of shipmentList" value="{{view.document_type}}">
                              {{view.document_type}}
                            </option>
                        </select>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Minimum Weight</label>
                          <input class="form-control" type="number" placeholder="Round To" [(ngModel)]="rateList.minimum_wgt"/>
	                    </div>
                	</div>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label style="margin-left: -3px">Min Rate By Shipment</label>
                          <input class="form-control" type="number" placeholder="Min Rate By Shipment" [(ngModel)]="rateList.min_rate_per_shipment" />
	                    </div>
	                    <div class="col-6 form-group">
	                        <label style="margin-left: -5px">Transit Day to Delivery</label>
                          <input class="form-control" type="number" placeholder="Transit Days to Delivery" [(ngModel)]="rateList.transit_days_to_delivery"/>
	                    </div>
                	</div>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Fuel sur Charge ( % )</label>
                          <input class="form-control" type="number" placeholder="Fuel sur Charge " [(ngModel)]="rateList.fuel_sur_charge"/>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Clearance Charge For IC and Duty Shipment</label>
                          <input class="form-control" type="text" placeholder="Clearance Charge For IC and Duty Shipment" [(ngModel)]="rateList.clr_chrg_ic_duty"/>
	                    </div>
                	</div>
                  <div class="row">
                      <div class="col-6 form-group">
                          <label>Clearance Charge For High and Duty Shipment</label>
                          <input class="form-control" type="text" placeholder="Clearance Charge For High and Duty Shipment" [(ngModel)]="rateList.clr_chrg_high_duty"/>
                      </div>
                      <div class="col-6 form-group">
                          <label>Pickup Charge ( per KG )</label>
                          <input class="form-control" type="text" placeholder="Pickup Charge ( per KG )" [(ngModel)]="rateList.pickup_charge"/>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6 form-group">
                          <label>Delivery Charge ( per KG )</label>
                          <input class="form-control" type="text" placeholder="Delivery Charge ( per KG )" [(ngModel)]="rateList.delivery_charge"/>
                      </div>
                  </div>
                	<div class="row" style="margin-left: 2%">
                		<button class="btn btn-primary" type="submit" (click)="insert()" [disabled]="btn_add !=='1'">Add</button>&nbsp;
                		<button class="btn btn-primary" type="submit" (click)="update()" [disabled]="btn !=='1'">Update</button>&nbsp;
                		<button class="btn btn-primary" type="submit" (click)="reset()" >Reset</button>&nbsp;
                		<button class="btn btn-primary" style="margin-top: 2px;" type="submit" (click)=print() >Print</button>&nbsp;
                	</div>
                   <div class="row" style="margin-top: 10px;">
                    <div class="col-8 form-group">
                    <input type="file" #myInput (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv">&nbsp;</div>
                    <div class="col-4 form-group">
                     <button class="btn btn-green" (click)="uploadHawbDetail()" type="submit">Upload</button></div>
                   </div>
                   <div class="row">
                  <div style="margin-left: 0%;"><h4>Upload Numbers : {{excelLength}}</h4></div>&nbsp;&nbsp;
                  <button class="mb-1 mr-1 btn btn-danger" style="margin-top: 0px;" type="button" (click)="downloadExcel()">Download Template</button>

                  </div>
                	<div class="row">
	                    <table class="table">
                  <thead>
                     <tr>
                        <th>Weight</th>
                        <th>Amount</th>
                        <th>RateType</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td> <input class="form-control" type="text" [(ngModel)]="slapList.slap_weight" #inputBox/></td>
                        <td> <input class="form-control" type="text" [(ngModel)]="slapList.slap_amount"/></td>
                        <td colspan="2">
                        	 <select class="custom-select custom-select-sm" [(ngModel)]="slapList.slap_rate_type_UOM">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of rateTypeList" value="{{view.unit_of_measurement}}">
                              {{view.unit_of_measurement}}
                            </option>
                        </select>
                        </td>
                        <!-- <td></td> -->
                     </tr>
                     <tr>
                      
                      <td >
                       <button class="btn btn-primary" type="submit" (click)="insert_slap()"[disabled]="btn_slp_add !=='2'">Add</button>
                     </td>
                     <td>
                        <button class="btn btn-primary" type="submit" (click)="update_slap()" [disabled]="btn_slp !=='1'">Update</button>
                      </td>
                      <td><button style="color: #fff;border:none;background-color: #fff">non</button></td>
                      <td><button style="color: #fff;border:none;background-color: #fff">non</button></td>
                    </tr>
                     <tr *ngFor="let view of slapListget">
                        <td>{{view.slap_weight}}</td>
                        <td>{{view.slap_amount}}</td>
                        <td>{{view.slap_rate_type_UOM}}</td>
                        <td>
                          <i class="fas fa-pen" aria-hidden="true" (click)="edit_slap(view.customer_slap_rate_id)" title="edit"></i>&nbsp;&nbsp;
                          <i class="fas fa-trash" aria-hidden="true" (click)="delete_slap(view.customer_slap_rate_id)" title="delete" style="color: red;"></i>
                        </td>
                     </tr>
                  </tbody>
               </table>
                	</div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card card-default">
         <div class="card-body">
         	<h4>VIEW / LIST</h4>
            <div class="table-responsive" style="height: 535px; overflow-y: scroll;">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th><b>ORIGIN</b></th>
                        <th><b>DESTINATION</b></th>
                        <th><b>SHIPMENT TYPE</b></th>
                        <th><b>MODE</b></th>
                        <th><b>SERVICE</b></th>
                        <th><b>ACTION</b></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor ="let view of tarifflist">
                        <td>{{view.origin_country_name}}</td>
                        <td>{{view.wh_storage_location_name}}</td>
                        <td>{{view.shipment_type}}</td>
                        <td>{{view.payment_mode}}</td>
                        <td>{{view.transit_type_name}}</td>
                        <td><button class="btn btn-primary" type="submit" (click)="edit(view.customer_rate_id)" (click)="slap_edit_master(view.customer_rate_id)">Edit</button>&nbsp;
                        <button class="btn btn-primary" type="submit" (click)="deleteTariff(view.customer_rate_id)">Delete</button></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
