<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-white">
                <a href="#"><br>
                    <img class="block-center rounded" src="assets/img/Logo_02.png" alt="Image" width="200px;" />
                </a><br><br>
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <!-- <p class="text-center py-2">SIGN IN</p> -->
                <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="exampleInputEmail1" type="username" name="user" placeholder="Enter username" autocomplete="off" formControlName="user" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['user'].hasError('required') && (valForm.controls['user'].dirty || valForm.controls['user'].touched)">This field is required</div>
                        <div class="text-danger" *ngIf="valForm.controls['user'].hasError('user') && (valForm.controls['user'].dirty || valForm.controls['user'].touched)">This field must be a valid username</div>
                    </div>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="exampleInputPassword1" type="password" name="pass" placeholder="password" formControlName="pass" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['pass'].hasError('required') && (valForm.controls['pass'].dirty || valForm.controls['pass'].touched)">This field is required</div>
                    </div>
                    <button class="btn btn-block btn-warning mt-3" type="submit">Login</button>
                </form>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <br/>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
