<div class="row content-heading">

    <div class="col-xl-4">
            <div>Bill Generation
       </div>
    </div>
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
    </div>
</div>
      <div class="card card-default">
        <div class="card-header">
          SEARCH / FILTER
        </div>
      <div class="card-body">

	<div class="row">
	 <div class="col-md-3 mb-2">
           	 <label for="validationServer01">Branch Name</label>
                   <select class="form-control " [(ngModel)]="branch" name="sel"
                   (change)="customer_list()">
                       <option value="" disabled selected hidden="">Select-Branch Name</option>
						<option value="{{branchList.origin_id}}"   *ngFor= "let branchList of branchlist">{{branchList.origin_name}}</option>
                    </select>
                                    
      </div>
      <div class="col-md-3 mb-3">
           	 <label for="validationServer01">Customer</label>
                   <select class="form-control " [(ngModel)]="customer" name="sel"
                  >
                       <option value="" disabled selected hidden="">Select-Customer</option>
						<option value="{{customerlist.origin_client_id}}"  *ngFor= "let customerlist of customerlist">{{customerlist.client_name}}</option>
                    </select>
                                    
      </div>
      <!-- <div class="col-md-2 mb-2">
           	 <label for="validationServer01">Payment Mode</label>
                   <select class="form-control " [(ngModel)]="payment" name="sel">
                       <option value="" disabled selected hidden="">Select-Payment Mode</option>
						<option value="{{paymentlist.payment_mode}}"   *ngFor= "let paymentlist of paymentlist">{{paymentlist.payment_mode}}</option>
                    </select>
                                    
      </div> -->
      <div class="col-md-3 mb-2">
           <label for="validationServer02">From Date</label>
                <input class="form-control " name="ex" type="date" value="{{from_date}}" [(ngModel)]="from_date" required="" />
       </div>
       <div class="col-md-3 mb-2">
           <label for="validationServer02">To Date</label>
                <input class="form-control " name="ex" type="date" [(ngModel)]="to_date" required="" />
       </div>
     </div>
     <div class="row">
     	<div class="col-md-1 mb-3">
     	 <button class="btn btn-success" (click)=submit() style="text-align: center;" type="submit">Search</button>
     	</div>
     	<div class="col-md-4 mb-3">
     	  <button class="btn btn-danger" (click)=reset() style="text-align: center;" type="submit">Reset</button>
     	</div>
     	<div class="col-md-1 mb-3">
     	</div>
     	<div class="col-md-3 mb-2">
           <label >Invoice Date</label>
                <input class="form-control"  type="date" [(ngModel)]="invoice_date"/>
       </div>
       <div class="col-md-3 mb-3">
     	</div>
     	</div>
     </div>
   </div>
    <div class="row">
    	<div class="col-md-5">
       <div class="card card-default">
        <div class="row">
      <div class="col-md-7">
            <div class="card-header" style="font-size: 130%; color:#23b7e5;">UN-BILLED HAWB NO'S
            </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <input type='text' class="form-control" placeholder='Enter HAWB number' (keyup)='updateFilter($event)' />
            </div>
          </div>
        <div class="card-body">
           <div style=" height:400px;width: 100%; overflow:auto;">
                 <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover" style="overflow: scroll;">
                  <thead>
                     <tr>
                        <th>Action</th>
                        <th>HAWB No</th>
                        <th>PCS - WT</th>
                        <th>FREIGHT</th>
                        <th>FSC</th>
                        <th>ORIGIN</th>
                        <th>SGST (9%)</th>
                        <th>CGST (9%)</th>
                        <th>IGST (18%)</th>
                        <th>TOTAL AMT</th>
                     </tr>
                  </thead>
                  <tbody>
                  
                     <tr *ngFor= " let reports of rowsFilter">
                     	<td>
                     		<button class="btn btn-info" (click)=edit(reports)>Edit</button>
                     	</td>
                        <td>{{reports.invoice_no}}</td>
                        <td>{{reports.total_carton}} - {{reports.total_weight}}</td>
                        <td>{{reports.freight_charge}}</td>
                        <td>{{reports.FSC_charge}}</td>
                        <td>{{reports.extra_bill_amount}}</td>
                        <td>{{reports.SGST}}</td>
                        <td>{{reports.CGST}}</td>
                        <td>{{reports.IGST}}</td>
                        <td>{{reports.net_amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
          </div>
        </div>
        </div>
    </div>
    <div class="col-md-7">
    	<div class="card card-default">
    	<div class="card-header"style="font-size: 150%; color:#23b7e5;">
         CHARGE DESCRIPTION
        </div>
        <div class="card-header"style="font-size: 200%; text-align: center;">
         HAWB NO - {{insert_duty.invoice_no}}
        </div>
        <div class="card-body">
        	<div class="row">
        		<div class="col-md-4">
        			<label>Basic Customs Duty</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.bcd">
        		</div>
        		<div class="col-md-4">
        			<label>Social Welfare SurCharge</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.sws">
        		</div>
        		<div class="col-md-4">
        			<label>IGST ( Amount )</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.clr_igst">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-4">
        			<label>Other Charge</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.detention_charge">
        		</div>
        		<div class="col-md-4">
        			<label>Bill Of Entry No</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.bill_of_entry_no">
        		</div>
        		<div class="col-md-4">
        		</div>
        	</div><hr>
        	<div class="card-header"style="font-size: 150%; color:#23b7e5;">
         	CLEARANCE CHARGES
        	</div>

        	<div class="row">
        		<div class="col-md-4">
        			<label>Duty</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.duty">
        		</div>
        		<div class="col-md-4">
        			<label>High value</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.high_value">
        		</div>
        		<div class="col-md-4">
        			<label>RCMC / IGST</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.rcmc_igst">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-4">
        			<label>100% EOU</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.hundred_eou">
        		</div>
        		<div class="col-md-4">
        			<label>SEZ</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.sez">
        		</div>
        		<div class="col-md-4">
        			<label>MEPZ</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.mepz">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-4">
        			<label>IC Charges</label>
        			<input type="text" name="" class="form-control" [(ngModel)]="insert_duty.ic_charges">
        		</div>
        		<div class="col-md-4">
        		</div>
        		<div class="col-md-4">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-4">
        			<label>Other Charges 1</label>
        		</div>
        		<div class="col-md-4">
        			<input type="text" name="" class="form-control" placeholder="Narration" [(ngModel)]="insert_duty.narration_1">
        		</div>
        		<div class="col-md-4">
        			<input type="text" name="" class="form-control" placeholder="Amount" [(ngModel)]="insert_duty.other_charges_1">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-4">
        			<label>Other Charges 2</label>
        		</div>
        		<div class="col-md-4">
        			<input type="text" name="" class="form-control" placeholder="Narration" [(ngModel)]="insert_duty.narration_2">
        		</div>
        		<div class="col-md-4">
        			<input type="text" name="" class="form-control" placeholder="Amount" [(ngModel)]="insert_duty.other_charges_2">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-4">
        			<label>Other Charges 3</label>
        		</div>
        		<div class="col-md-4">
        			<input type="text" name="" class="form-control" placeholder="Narration" [(ngModel)]="insert_duty.narration_3">
        		</div>
        		<div class="col-md-4">
        			<input type="text" name="" class="form-control" placeholder="Amount" [(ngModel)]="insert_duty.other_charges_3">
        		</div>
        	</div>
        	<!-- <div class="row"> -->
        		<button class="btn btn-info" (click)=save()>SAVE</button>
        	<!-- </div> -->
        </div>
    	</div>
    </div>
</div>

<div class="card card-default">
        
          <div class="card-header">
         DETAILS / PRINT
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 mb-2">
          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">TOTAL FREIGHT CHARGES</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{tot_f_charge}}</label>
         </div>
        </div>
      
          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">FUEL SUR CHARGE</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{fuel_s_charge}}</label>
         </div>
        </div>

          <!-- <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">EXTRA CHARGE</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{extra_amt}}</label>
         </div>
        </div> -->

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">CGST @ 9%</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{c_g_s_t}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">SGST @ 9%</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{s_g_s_t}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">IGST @ 18%</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{i_g_s_t}}</label>
         </div>
        </div>

          <div class="row">
          <div class="col-md-3 mb-2">
           <label for="validationServer02">TOTAL AMOUNT</label>
         </div>
           <div class="col-md-3 mb-2">
           <label for="validationServer02">{{tot_net_amount}}</label>
         </div>
        </div>
      </div>
         <div class="col-md-1.5 mb-2">
           <button class="btn btn-primary" style="text-align: center;" type="submit">New Bill</button>
         </div>
         <div class="col-md-1 mb-2">
           <button class="btn btn-primary" (click)=print() style="text-align: center;" type="submit">Print</button>
         </div>

    </div>
  </div>
</div>
