<div class="content-heading">
    <div>INVOICE BILL VIEW
    </div>
</div>

 <div class="card card-default">
            <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>SEARCH / FILTER</b></div>
            <div class="card-body">
                   <div class="form-row">
                                <div class="col-lg-3 mb-3">
                                    <label>Branch Name</label>
                                         <select class="custom-select custom-select-sm" [(ngModel)]="datas.origin_id" (change)="getcus(datas.origin_id)">
                            <option  disabled selected hidden="">Select</option>
                            <option *ngFor= "let list of data"  value="{{list.origin_id}}" >{{list.origin_name}}</option>
                        </select>
                                </div>   
                                <div class="col-lg-3 mb-3">
                                    <label>Customer</label>
                                           <select class="custom-select custom-select-sm" [(ngModel)]="datas.origin_client_id">
                            <option  disabled selected hidden="">Select</option>
                            <option  *ngFor= "let list1 of data1" value="{{list1.origin_client_id}}">{{list1.client_name}}</option>
                        </select>
                                </div>
                          
                                 <!-- <div class="col-lg-3 mb-3">
                                    <label>Bill From</label>
                                    <input value=""class="form-control" type="date" [(ngModel)]="datas.from_date"  />
                                </div>
                                  <div class="col-lg-3 mb-3">
                                    <label>Bill To</label>
                                    <input value=""class="form-control" type="date" [(ngModel)]="datas.to_date"/>
                                </div> -->
                            </div>
                           <div class="rolew">
                        <div class="col-md-10">
       					 </div>
      <button class="btn btn-success mr-2" type="submit" (click)="searchh()">Search</button>
        <button class="btn btn-danger mr-2" type="submit" (click)="resett()">Reset</button>
 			</div>      
                </div>
                	</div>

  <div class="card card-default">
            <div class="row">
      <div class="col-md-7">
            <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>VIEW / LIST</b>
            </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <input type='text' class="form-control" placeholder='Enter Bill number' (keyup)='updateFilter($event)' />
            </div>
          </div>
            <div class="card-body">
            	     <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>NO</th>
                        <th>HAWB NO</th>
                        <th>CUSTOMER</th>
                        <th>PCS - WT</th>
                        <th>INVOICE DATE</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let list2 of rowsFilter;let i=index">
                     	<td>{{i+1}}</td>
                     	<td>{{list2.invoice_no}}</td>
                        <td>{{list2.cut_customer_name}}</td>
                        <td>{{list2.total_carton}} - {{list2.total_weight}}</td>
                        <td>{{list2.invoice_date}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
     </div>
