<div class="row content-heading">
	<div class="col-xl-12">
		<div>Bill Report</div>
	</div>
</div>

<!-- START row-->
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-body">
            	<h4>SELECT / FILTER</h4>
                <div class="row">
	                <div class="col-6 form-group">
	                    <label>From Date</label>
	                    <input class="form-control" type="date" [(ngModel)]="insert.from_date" name="">
	                </div>
	                <div class="col-6 form-group">
	                    <label>To Date</label>
	                    <input class="form-control" type="date" [(ngModel)]="insert.to_date" name="">
	                </div>
	                <div class="col-md-12">
	                	<button class="btn btn-info" (click)="search()">Search</button>&nbsp;&nbsp;
	                	<button class="btn btn-info" (click)="export()">Export</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="card card-default">
         <div class="card-body">
         	<h4>VIEW / LIST</h4>
            <div class="table-responsive" style="height: 535px; overflow-y: scroll;">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th><b>DATE</b></th>
                        <th><b>GSTIN NO</b></th>
                        <th><b>INVOICE NO</b></th>
                        <th><b>CUSTOMER NAME</b></th>
                        <th><b>NON TAX ABLE</b></th>
                        <th><b>GROSS TOTAL</b></th>
                        <th><b>CGST @ 9%</b></th>
                        <th><b>SGST @ 9%</b></th>
                        <th><b>IGST @ 18%</b></th>
                        <th><b>TOTAL</b></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor ="let view of Report_list">
                        <td>{{view.billing_date}}</td>
                        <td>{{view.GST_NO}}</td>
                        <td>{{view.billingInvoice_no}}</td>
                        <td>{{view.Customer_Name}}</td>
                        <td></td>
                        <td>{{view.Gross_Total}}</td>
                        <td>{{view.CGST}}</td>
                        <td>{{view.SGST}}</td>
                        <td>{{view.IGST}}</td>
                        <td>{{view.TOTAL}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
