<div class="content-heading">
    <div>CLEARANCE BILL VIEW
    </div>
</div>

 <div class="card card-default">
            <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>SEARCH / FILTER</b></div>
            <div class="card-body">
                   <div class="form-row">
                                <div class="col-lg-3 mb-3">
                                    <label>Branch Name</label>
                                         <select class="custom-select custom-select-sm" [(ngModel)]="datas.origin_id" (change)="getcus(datas.origin_id)">
                            <option  disabled selected hidden="">Select</option>
                            <option *ngFor= "let list of data"  value="{{list.origin_id}}" >{{list.origin_name}}</option>
                        </select>
                                </div>   
                                <div class="col-lg-3 mb-3">
                                    <label>Customer</label>
                                           <select class="custom-select custom-select-sm" [(ngModel)]="datas.origin_client_id">
                            <option  disabled selected hidden="">Select</option>
                            <option  *ngFor= "let list1 of data1" value="{{list1.origin_client_id}}">{{list1.client_name}}</option>
                        </select>
                                </div>
                          
                                 <div class="col-lg-3 mb-3">
                                    <label>Bill From</label>
                                    <input value=""class="form-control" type="date" [(ngModel)]="datas.from_date"  />
                                </div>
                                  <div class="col-lg-3 mb-3">
                                    <label>Bill To</label>
                                    <input value=""class="form-control" type="date" [(ngModel)]="datas.to_date"/>
                                </div>
                            </div>
                           <div class="rolew">
                        <div class="col-md-10">
       					 </div>
      <button class="btn btn-success mr-2" type="submit" (click)="searchh()">Search</button>
        <button class="btn btn-danger mr-2" type="submit" (click)="resett()">Reset</button>
        <button class="btn btn-info" type="submit" (click)="export()">Export</button>
 			</div>      
                </div>
                	</div>

  <div class="card card-default">
            <div class="row">
      <div class="col-md-7">
            <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>VIEW / LIST</b>
            </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <input type='text' class="form-control" placeholder='Enter Bill / INVOICE number' (keyup)='updateFilter($event)' />
            </div>
          </div>            <div class="card-body">
            	     <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>NO</th>
                        <th>DATE</th>
                        <th>BILL NO</th>
                        <th>CUSTOMER</th>
                        <th>MODE</th>
                        <th>BILLS</th>
                        <th>AMOUNT</th>
                        <th>ACTION</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let list2 of rowsFilter;let i=index">
                     	<td>{{i+1}}</td>
                        <td>{{list2.billing_date}}</td>
                        <td>{{list2.hawb_billingInvoice_no}}</td>
                        <td>{{list2.client_name}}</td>
                        <td>{{list2.payment_mode}}</td>
                        <td>{{list2.total_bills}}</td>
                        <td>{{list2.sums_totals}}</td>
                        <td>
                        <i class='fas fa-pen' [hidden]="btn !=='1'" aria-hidden="true"(click)="classicModal.show()" title="edit" (click)="edit_bill_no(list2.hawb_billingInvoice_no)"></i>&nbsp;	
                         <!-- <i class="fa fa-eye" [hidden]="btn !=='1'" aria-hidden="true" [routerLink]="['/view-list',list2.hawb_billingInvoice_no,list2.client_name,datas.origin_id,datas.origin_client_id,datas.from_date,datas.to_date]" title="view"></i>&nbsp; -->
                         <i class="fa fa-download" aria-hidden="true" (click)="classicModal2.show()" (click)="print_prf(list2)" title="download"></i>&nbsp;
                         <i class="fa fa-trash" aria-hidden="true" (click)="delete_invoice(list2.hawb_billingInvoice_no)" title="Delete"></i>
                     </td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
     </div>
    <div class="modal fade" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myBigModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Bill Number</h4>
                                <button type="button" class="close" aria-label="Close" (click)="classicModal.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                  <div class="col-lg-12 mb-12">
                                    <label>Bill Number</label>
                                    <input value=""class="form-control" type="text" [(ngModel)]="edit_bill.new_no" />
                                </div><br>
                                 <div style="padding-left: 65%;">
                                  <button class="btn btn-primary mr-2" type="submit" (click)="update_bill()" (click)="classicModal.hide()">Update</button>
                                <button class="btn btn-danger" type="submit" (click)="classicModal.hide()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="modal fade" bsModal #classicModal2="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myBigModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Print Preferences</h4>
                                <button type="button" class="close" aria-label="Close" (click)="classicModal2.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                  <div class="form-row">
                                    <div  class="col-lg-6 mb-6">
                                    <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox"  [(ngModel)]="r_logo" value="true" />
                                    <span class="fa fa-check"></span>Remove Logo</label>
                                </div></div>
                                <div  class="col-lg-6 mb-6">
                                    <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="r_address" value="true"/>
                                    <span class="fa fa-check"></span>Remove Address</label>
                                </div></div>
                                </div>
                                <br>
                                 <div style="padding-left: 65%">
                                  <button class="btn btn-primary mr-2" type="submit" (click)="print()">Print</button>
                                <button class="btn btn-danger" type="submit" (click)="classicModal2.hide()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>



                




