<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
           <!--  <img class="img-thumbnail rounded-circle" [src]="user.picture" alt="Avatar" />
            <div class="circle bg-success circle-lg"></div> -->
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name text-white">
            <!-- <a style="color: #fff;font-weight: bold;font-size: 16px">{{userDetails.user_name}}</a> --></span>
        <!-- <span class="user-block-role">Programmer</span> -->
    </div>
</div>

