<div class="content-heading">
    <div>INVOICE ISSUING
    </div>
</div>

 <div class="card card-default">
            <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>SEARCH / FILTER</b></div>
            <div class="card-body">
                   <div class="form-row">
                                <div class="col-lg-3 mb-3">
                                    <label>Origin</label>
                                         <select class="custom-select custom-select-sm" [(ngModel)]="get_issue.point_id">
				                            <option  disabled selected hidden="">Select</option>
				                            <option *ngFor= "let list of origin_list"  value="{{list.point_id}}" >{{list.origin_name}}</option>
				                        </select>
                                </div>   
                                <div class="col-lg-3 mb-3">
                                    <label>Starting Number</label>
	                                <input type="Number" [(ngModel)]="get_issue.starting_number" name="" class="form-control" >
                                </div>
                          
                                 <div class="col-lg-3 mb-3">
                                    <label>Ending Number</label>
                                    <input type="Number" [(ngModel)]="get_issue.ending_number" name="" class="form-control">
                                </div>
                                  <div class="col-lg-3 mb-3">
                                    <label>Total Stocks</label>
                                    <p style="padding: 8px">{{tot_stock}}</p>
                                </div>
                            </div>
                           <div class="rolew">
                        		<div class="col-md-1"></div>
				      				<button class="btn btn-success mr-2" type="submit" (click)="get_Issue()">Search</button>
				        			<button class="btn btn-danger mr-2" type="submit" (click)="reset()">Reset</button>
				        			<button class="btn btn-info" type="submit" (click)="export()">Export</button>
 								</div>      
                </div>
            </div>
    <div class="row">
    	<div class="col-md-8">
		  	<div class="card card-default">
		    <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>VIEW / LIST</b></div>
		        <div class="card-body">
		           	<div class="table-responsive">
		               	<table class="table table-striped table-bordered table-hover">
		                  <thead >
		                     <tr>
		                        <th>NO</th>
		                        <th>START</th>
		                        <th>END</th>
		                        <th>RECEIVE POINT</th>
		                        <th>STOCKS</th>
		                        <th>ISSUE DATE</th>
		                     </tr>
		                  </thead>
		                  <tbody>
		                     <tr *ngFor="let list of issue_list;let i=index">
		                     	<td>{{i+1}}</td>
		                        <td>{{list.awb_starting_no}}</td>
		                        <td>{{list.awb_ending_no}}</td>
		                        <td>{{list.Receiving_point_name}}</td>
		                        <td>{{list.Total_stock}}</td>
		                        <td>{{list.issue_date}}</td>
		                     </tr>
		                  </tbody>
		               	</table>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="col-md-4">
			<div class="card card-default">
		    <div class="card-header" style="font-size: 150%; color:#23b7e5;"><b>VIEW / LIST</b></div>
		        <div class="card-body">
		           	<div class="table-responsive">
		               	<table class="table table-striped table-bordered table-hover">
		                  <thead >
		                     <tr>
		                        <th>NO</th>
		                        <th>Available No</th>
		                    </tr>
		                  </thead>
		                  <tbody>
		                     <tr *ngFor="let i=index">
		                     	<td>{{i+1}}</td>
		                        <td></td>
		                     </tr>
		                  </tbody>
		               	</table>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
